<h1>List of Cocktails!!</h1>


<ul>

<% @cocktails.each do |cocktail| %>
  <li>
    <%= cocktail.name %>
    <%= link_to 'recipe', cocktail_path(cocktail) %>
  </li>
<% end %>

</ul>
<%= link_to 'add cocktail', new_cocktail_path%>
